.initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: white;
}
 .clickable:hover {
   text-decoration: underline;
 }

img {
  height: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.row {
  text-align: center;
}

body{
  background-image:url(img/bluebackground.jpg);
}

.jumbotron{
  background-image:url(img/trees.jpg);
  background-size: auto;
}
