.initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
 .clickable:hover {
   text-decoration: underline;
 }

img {
  height: 6em;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.row {
  text-align: center;
}
